div(:style="{backgroundColor: ind}", data-query="cell", v-on="listeners").w-100.h-100.d-flex.align-items-center.justify-content-center
    PopUp(:open="datapop", v-bind:index="index" draggable="true")
    .row.justify-content-middle.align-items-left(:data-el="log_id", :data-location="component.location",:data-total="component.total", :data-component="component.component").position-relative.m-0.w-100.h-100.align-content-center
        transition(name="slide")
            loader(:loaderWidth="loaderWidth", :loaderHeight="loaderHeight", v-if="loaderState").position-absolute
        template(v-if="component.val")
            .col.m-0.text-align-right.font-weight-bold.h5.ml-2 {{ component.val }}&nbsp;
                span.f-size-d-0.font-weight-light ед.
        template(v-if="component.quota")
            .col-12.m-0.mt-2.mb-2.ml-2.text-align-right.font-weight-bold.h5(:style="{ color:colorSumm }") {{ relativeSumm }}&nbsp;
                span.f-size-d-0.font-weight-light %
        template(v-if="component.pdc")
            .col-12.m-0.mt-2.mb-2.ml-2.text-align-right.font-weight-bold.h5(:style="{ color:color }") {{ relativeValue }}&nbsp;
                span.f-size-d-0.font-weight-light %
        template(v-if="component.total")
            .col.m-0.ml-2.text-align-right.font-weight-bold.h5.text-lowercase {{ component.total }}&nbsp;
                span.f-size-d-0.font-weight-light едн.
