<template lang="pug">
    include Cell.pug
</template>

<script>
    /* eslint-disable */
    import * as Tools from '../js/Tools.js';
    import axios from 'axios'

    export default {
        props: ['component', 'index', 'len', 'log_id', 'showTotal', 'dataToPop', 'sets', 'name', 'duration'],
        data(){
            return {
                datapop: 0,
                trigger: 0,
                loaderState: 0,
                loaderHeight: '',
                loaderWidth: '',
            }
        },
        components: {
            PopUp: () => import('../PopUp/PopUp.vue'),
            Loader: () => import('../Loader/Loader.vue'),
        },
        methods: {
            runQuery (arg) {
                this.loaderState = 1
                if (this.name === 'Current') this.getDataCurrent(arg)
                if (this.name === 'Total') this.getDataTotal(arg)
            },
            getDataTotal(arg){ // data for popup
                if (Number(this.component.id) !== 0) {
                    axios({
                        method: 'get',
                        url: 'init.php',
                        params: {
                            select: 'WorkLog',
                            mode: 'getTotal',
                            data: {
                                id_comp: this.component.id_comp,
                                id_loc: this.component.id_location,
                                date: arg.date
                            }
                        },
                        responseType: 'json',
                    })
                        .then(
                            response => {
//                                console.log(response)
                                let resp = response.data.data[0];
                                console.log(resp)
                                if (resp.quota) {
//                                    console.log(arg.duration)
//                                    console.log(this.duration)
                                    resp.relVal = Math.round(resp.total / (resp.quota / 365 * this.duration) * 100)
                                }
                                resp.trigger = Math.random()
                                resp.dtime = Tools.getDateTime()
                                this.loaderState = false
                                this.datapop = JSON.stringify(resp)
                            }
                        )
                        .catch(function (error) {
                            console.log(error);
                        })
                } else {
                    this.datapop = {
                        dtime: Tools.getDateTime(),
                        location: this.component.location,
                        component: this.component.component + " отсутствует",
                        val: this.component.val,
                        pdc: this.component.pdc,
                        relVal: 0,
                        total: 0,
                        trigger: Math.random(),
                    }
                    this.loaderState = 0
                    this.datapop = JSON.stringify(this.datapop)
                }
            },

            getDataCurrent(arg){ // data for popup
                if (Number(this.component.id) !== 0) {
                    axios({
                        method: 'get',
                        url: 'init.php',
                        params: {
                            select: 'WorkLog',
                            mode: 'getDataWithTotal',
                            data: {
                                id_log: this.component.id,
                                id_comp: this.component.id_comp,
                                id_loc: this.component.id_location,
                                date: arg.date
                            }
                        },
                        responseType: 'json',
                    })
                        .then(
                            response => {
//                                console.log(response)
                                let resp = response.data.data[0];
                                console.log(resp)
                                if (resp.pdc) {
                                    resp.relVal = Math.round(resp.val / resp.pdc * 100)
                                }
                                resp.dtime = Tools.getDateTime()
                                resp.trigger = Math.random()
                                this.datapop = JSON.stringify(resp)
                                this.loaderState = false
                            }
                        )
                        .catch(function (error) {
                            console.log(error);
                        })
                } else {
                    this.datapop = {
                        dtime: Tools.getDateTime(),
                        location: this.component.location,
                        component: this.component.component + " отсутствует",
                        val: this.component.val,
                        pdc: this.component.pdc,
                        relVal: 0,
                        total: 0,
                        trigger: Math.random(),
                    }
                    this.loaderState = 0
                    this.datapop = JSON.stringify(this.datapop)
                }
            },
        },
        mounted(){
        },
        computed: {
            ind() {
                let bgcolor, size = this.len;
                if (!(Math.ceil((this.index + 1) / size) % 2)) {
                    bgcolor = this.sets.even
                } else {
                    bgcolor = this.sets.odd
                }
                return bgcolor;
            },
            color(){
                return this.relativeValue < 100 ? 'green' : 'crimson'
            },
            colorSumm(){
                return this.relativeSumm < 100 ? 'green' : 'crimson'
            },
            relativeValue(){
                return Math.round(this.component.val / this.component.pdc * 100)
            },
            relativeSumm(){
                return Math.round(this.component.total / (this.component.quota / 365 * this.duration) * 100)
            },
            listeners () {
                return {
                    // Pass all component listeners directly to element
//                    ...this.$listeners,
                    click: event => {
//                        console.log(event)
                        if (event.target.closest('.btn-close')) return
                        if (event.target.closest('.pop')) return
                        this.$emit('click', this)
                    }
//                    click: event => this.$emit('click', event.target.value)
                }
            }
        }

    }
</script>

<style scoped lang="scss">
</style>
