<template lang="pug">
    include Controller.pug
</template>


<script>
    /* eslint-disable */

    export default {
        props: {
            cellWidth: {
                default: 100
            },
            cellHeight: {
                default: 100
            },
            arrData: '',
            setsCell:{
                even: '',
                odd: '',
            },
            name: '',
            duration:'',
            dataToPop: {},
            inSwitches: {},
            showTotal: false,
            loaderState: false,
        },
        components: {
            HeadColumn: () => import('../HeadColumn.vue'),
            HeadRow: () => import('../HeadRow.vue'),
            Cell: () => import('../Cell/Cell.vue'),
            Loader: () => import('../Loader/Loader.vue'),
        },
        data(){
            return {
                pop_data: 0,
                len: 0,
                temp: '',
                ind: 0,
                arrDataS: '',
                arrLoc: [],
                tblWidth: '',
                loaderWidth: '',
                loaderHeight: '',

            }
        },
        updated(){
        },
        mounted(){
        },
        methods: {
            clickInCell(e){
                this.$emit('click', e)
            },
        },
        watch: {},

        /*
         * ОРГАНИЗАЦИЯ РЕАКТИВНОСТИ 2-Х УРОВНЕВОЙ СТРУКТУРЫ ИЗ 3-Х КОМПОНЕНТОВ
         *
         * Родитель в своем темплэйте, в теге первого потомка указывает входные (начальные) св-ва (props) последнего:
         * например child(v-model="switches.withIconsOn", @input="setCurrentConcentration") говорит о том, что этому потомку нужно связать двусторонним образом переменную switches.withIconsOn, как пока не знаю. И на своё событие инпут запускать родительский метод  setCurrentConcentration.
         *
         * Второму потомку в шаблоне родителя указываем, например child2(v-bind:prop="var"), что говорит этому потомку установить свое св-во prop в значение var
         *
         * Затем второму потомку можно создать метод в котором обрабатывать свое св-во prop, а результатом отдавать св-во которое можно использовать в своем шаблоне или связять опять же в шаблоне директивой v-model, те имя метода в computed должно совпадать с переменной в шаблоне
         *
         * Итак первый потомок генерит событие input, родитель в ответ на него запускает метод setCurrentConcentration, который меняет св-во var, которое, в шаблоне родителя в св-вах второго потомка устанавливает последнему его св-во prop
         *
         *
         * ОРГАНИЗАЦИЯ СВЯЗИ РОДИТЕЛЬСКОГО СОБЫТИЯ И ОБРАБОТАННОГО СВ-ВА ПРЯМОГО ПОТОМКА - 2 УРОВНЯ
         *
         * Родитель в своем св-ве data определяет поле tst. Затем в своем шаблоне передает потомку это значение
         * <Родитель>
         *     Потомок(:var_ch="tst")
         * </Родитель>
         * Потомок имеет в своих св-вах props['var_ch'], в шаблоне он указывает св-во, например :data-a="set_var", а в своем определении, в св-ве computed описывает одноименное св-во: set_var, которое должно быть ф-ей и возвращать значение, кот. будет обновляться в шаблоне потомка. Кроме этого в шаблоне потомка должно быть переменное значение, инача реактивности не возникает. Также в data Родителя должны быть указаны все св-ва объекта, на необъявленные св-ва Вуй не подписывается
         *
         * */
        computed: {
            HeadRow(){
                let set = new Set(), size;
//                debugger
                this.arrData.some((item) => {
                    set.add(item['location'])
                })
                size = set.size
                this.tblWidth = size * this.cellWidth
                this.loaderWidth = (size + 1) * this.cellWidth
                this.len = size
                return set;
            },
            HeadColumn(){
                let set = new Set(), size;
                this.arrData.some((item) => {
                    set.add(item['component'])
                })
                size = set.size
                this.loaderHeight = (size + 1) * this.cellHeight
                return set;
            },
            Cell(){
                let set = [];
                this.arrData.some((item, i, arr) => {
                    set.push(item)
                })
                return set;
            },
        }
    }

</script>

