div.overflow-auto.d-flex.mtbl.justify-content-start.justify-content-xl-center()
    .row.flex-nowrap.m-0

        .col-auto.p-0.position-static
            .empty-cell(:style="{ width: cellWidth + 'px', height: cellHeight + 'px' }")
            .columns.f-size-2(v-for="item in HeadColumn",
            :style="{ width: cellWidth + 'px', height: cellHeight + 'px' }").d-flex.align-items-center.justify-content-center.fw-4
                HeadColumn(:name="item")
        .col-auto.p-0.position-static
            .row( :style="{ width: tblWidth + 'px' }").m-0
                .col.p-0.d-flex.flex-wrap.position-static
                    .rows(v-for="item in HeadRow", :style="{ width: cellWidth + 'px', height: cellHeight + 'px' }").outline-crimson.d-flex.align-items-center.justify-content-center.fw-4
                        HeadRow(:name="item")
                    .my-cell(v-for="(item, index) in Cell", :style="{width: cellWidth + 'px', height: cellHeight + 'px'}").outline-green.position-static
                        Cell(:component="item", :dataToPop="dataToPop", :index="index", :len="len", :log_id="item.id", :showTotal="showTotal", @click="clickInCell", :sets="setsCell", :name="name", :duration="duration")

