.loader.position-absolute.w-100.h-100.outline-crimson(:style="{ width: caseWidth + 'px', height: caseHeight + 'px' }").opacity-50.d-flex.justify-content-center.align-items-center.overflow-hidden
    .loader-content.d-inline-block.overflow-hidden A
