<template lang="pug">
    include Loader.pug
</template>
<script>

//    import * as Tools from '../../../components/My/js/Tools.js';
    //    import * as JD from '../../../json/data_t.json'
    //    import * as JD from '../../../json/data.json'

    export default {
        props:['caseWidth','caseHeight',],
//        name: 'loader1',
//        components: {
//        },
        data () {
            return {

            }
        },
        methods: {
        },
        beforeMount(){
        },
        computed: {
//            listeners () {
//                return {
//                     Pass all component listeners directly to element
//                    ...this.$listeners
//                }
//            }
        },
        watch: {
        }
    }
</script>
<style>

</style>
