<template lang="pug">
    include PopUp.pug
</template>

<script>
    import * as Tools from '../js/Tools.js';
    import * as DragManager from '../js/DragManagerElement.js'
    //    import displace from 'displacejs';


    export default {
        props: ['open',],
        data(){
            return {
                counter: 0,
                data: {},

            }
        },
        watch: {
            open: function (el) {
//                console.log(el)
                this.data = JSON.parse(this.open)
                let
                    pop = this.$el.querySelector('.pop'),
                    ppop = pop.parentNode
                if (pop) {
//                    ppop.classList.remove('d-none');
//                    ppop.style.display = 'block';
                    pop.style.display = 'block';
                    pop.style.left = (document.body.clientWidth - pop.clientWidth) / 2 + 'px'
                    setTimeout(() => {
                        pop.classList.add('active');
//                        pop.style.left = ''
//                        overlay.classList.add('active');
                    }, 20);
                }
            }
        },
        methods: {
            close(e){
//                console.log('close')
//                console.log(e.target)
//                return
//                if (e.keyCode === 27 || e.target.closest('.overlay')) {
//                if (e.keyCode === 27 || e.target.closest('.overlay') || e.target.closest('.close')) {
//                    this.$emit('close');
                let dialog, overlay, ppop;
                dialog = this.$el.querySelector('.dialog')
                ppop = dialog.parentNode
                if (dialog) {
                    dialog.classList.remove('active');
//                        overlay.classList.remove('active')
                    setTimeout(function () {
                        dialog.style.display = 'none'
//                        ppop.style.display = 'none'
//                        ppop.classList.add('d-none')
                    }, 300);
                }
//                }
            },
        },
        computed: {

            listeners () {
//                console.log('list-s')
//                return {
//                    // Pass all component listeners directly to element
//                    // метод срабатывает на всех событиях компонента и возвращает все эти события
//                    ...this.$listeners,
////                    click: event => this.$emit('click', event.target.value)
//                }
            }
        },
        mounted(){
            this.$nextTick(function () {
                // Код, который будет запущен только после
                // отображения всех представлений
                DragManager.run(this.$el)
            })
        }

    }
</script>
