//.case.container(draggable="true" style="display:none;")
.case.container(draggable="true").p-0.w-0
    .pop(:open="open" ).dialog.outline-crimson.draggable
        span(@click="close").dialog__action.btn-close.z-10
            i &#x2715;
        .row.m-0
            .col-12.outline-green.position-static
                .row.outline-green.position-static
                    //span(slot="empty2") nothing else
                    .col-12.h4.text-align-center.mt-1.mx-auto.pt-1.px-5.font-weight-bold {{ data.location }}
                    .col-6.comp-name.mx-auto
                    .col-12.h4.mt-1.pb-3.font-weight-bolder.text-align-center {{ data.component }}
                    .col-12.text-align-left.pl-5
                        template(v-if="data.val")
                            .row
                                .col-9
                                    span.fu-2.font-weight-light Текущее значение: &nbsp;
                                .col
                                    span.h4.font-weight-bold {{ data.val }}
                                        span.fd-0.font-weight-light &nbsp;ед.
                        template(v-if="data.relVal")
                            .row.mt-1.mb-1
                                .col-9
                                    span.fu-2.font-weight-light Относительное значение: &nbsp;
                                .col
                                    span.h4.font-weight-bold {{ data.relVal }}
                                        span.fd-0.font-weight-light &nbsp;%
                        template(v-if="data.pdc")
                            .row
                                .col-9
                                    span.fu-2.font-weight-light ПДК: &nbsp;
                                .col
                                    span.h4.font-weight-bold {{ data.pdc }}
                                        span.fd-0.font-weight-light &nbsp;ед.
                        template(v-if="data.total")
                            .row
                                .col-9
                                    span.fu-2.font-weight-light Накоплено: &nbsp;
                                .col
                                    span.h4.font-weight-bold {{ data.total }}
                                        span.fd-0.font-weight-light &nbsp;ед.
                        template(v-if="data.quota")
                            .row
                                .col-9
                                    span.fu-2.font-weight-light Квота: &nbsp;
                                .col
                                    span.h4.font-weight-bold {{ data.quota }}
                                        span.fd-0.font-weight-light &nbsp;ед.
                    .col.outline-white.h5.text-align-center.mt-3.font-weight-bold {{ data.dtime }}
                .row
                    .col
                        button.btn.btn-primary.btn-block.f-size-0.rounded-0.p-2.mt-3(@click="close").btn-close закрыть
