<template lang="pug">
    include myCharts.pug
</template>

<script>

    import {
        ChartCard, StatsCard, Card,
    } from 'src/components/index'

    export default {
        components: {
            Card,
            ChartCard,
            StatsCard
        },
        data () {
            return {
                lineChart: {
                    data: {
                        labels: ['9:00', '12:00', '15:00', '18:00', '21:00', '00:00', '3:00', '6:00'],
                        series: [
                            [287, 385, 490, 492, 554, 586, 698, 695],
                            [67, 152, 143, 240, 287, 335, 435, 437],
                            [23, 113, 67, 108, 190, 239, 307, 308]
                        ]
                    },
                    options: {
                        low: 0,
                        high: 800,
                        showArea: false,
                        height: '245px',
                        axisX: {
                            showGrid: false
                        },
                        lineSmooth: true,
                        showLine: true,
                        showPoint: true,
                        fullWidth: true,
                        chartPadding: {
                            right: 50
                        }
                    },
                    responsiveOptions: [
                        ['screen and (max-width: 640px)', {
                            axisX: {
                                labelInterpolationFnc: function (value) {
                                    return value[0]
                                }
                            }
                        }]
                    ]
                },
                pieChart: {
                    data: {
                        labels: ['40%', '20%', '40%'],
                        series: [40, 20, 40]
                    }
                },
                barChart: {
                    data: {
                        labels: ['Янв.', 'Фев.', 'Март', 'Апр.', 'Май', 'Июнь', 'Июль', 'Авг.', 'Сент.', 'Окт.', 'Нояб.', 'Дек.'],
                        series: [
                            [542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895],
                            [412, 243, 280, 580, 453, 353, 300, 364, 368, 410, 636, 695]
                        ]
                    },
                    options: {
                        seriesBarDistance: 10,
                        axisX: {
                            showGrid: false
                        },
                        height: '245px'
                    },
                    responsiveOptions: [
                        ['screen and (max-width: 640px)', {
                            seriesBarDistance: 5,
                            axisX: {
                                labelInterpolationFnc (value) {
                                    return value[0]
                                }
                            }
                        }]
                    ]
                },

            }
        },
    }
</script>
<style>
</style>
