.row.justify-content-center
    .col-md-12.col-lg-6
        chart-card(:chart-data="lineChart.data",
        :chart-options="lineChart.options",
        :responsive-options="lineChart.responsiveOptions")
            template(slot="header")
                h4.card-title Текущая концентрация
                p.card-category Аммиак
            template(slot="footer")
                .legend
                    i.icon-circle.text-info Главный цех
                    i.icon-circle.text-danger Доп. цех
                    i.icon-circle.text-warning Цех-2
                hr
                .stats
                    i.icon-history Обновлено 3 минуты назад

    .col-md-12.col-lg-6
        chart-card(:chart-data="pieChart.data" chart-type="Pie")
            template(slot="header")
                h4.card-title Главный цех
                p.card-category Структура выбросов, текущая
            template(slot="footer")
                .legend
                    i.icon-circle.text-info Метан
                    i.icon-circle.text-danger СО
                    i.icon-circle.text-warning Аммиак
                hr
                .stats
                    i.icon-history Обновлено 3 минуты назад

    .col-md-12.col-lg-6
        chart-card(
        :chart-data="barChart.data",
        :chart-options="barChart.options",
        :chart-responsive-options="barChart.responsiveOptions",
        chart-type="Bar"
        )
            template(slot="header")
                h4.card-title Выбросы водорода
                p.card-category Сравнительный анализ по цехам
            template(slot="footer")
                .legend
                    i.icon-circle.text-info Главный цех
                    i.icon-circle.text-danger Цех №2
                hr
                .stats
                    //i.icon-clock-o Campaign sent 2 days ago

