<template>
  <div class="user">
    <div class="photo">
      <img src="static/img/im2.jpg" alt="avatar"/>
      <!--<img src="static/img/default-avatar.png" alt="avatar"/>-->
    </div>
    <div class="info">
      <a data-toggle="collapse" :aria-expanded="!isClosed" @click.stop="toggleMenu" href="#">
           <span>
             {{title}}
             <b class="caret"></b>
          </span>
      </a>
      <div class="clearfix"></div>
      <div>
        <el-collapse-transition>
          <ul class="nav" v-show="!isClosed">
            <slot>
              <li>
                <a class="profile-dropdown" href="#admin">
                  <span class="sidebar-mini">МП</span>
                  <span class="sidebar-normal">Мой профиль</span>
                </a>
              </li>
              <li>
                <a class="profile-dropdown" href="#admin">
                  <span class="sidebar-mini">РП</span>
                  <span class="sidebar-normal">Редактировать профиль</span>
                </a>
              </li>
              <li>
                <a class="profile-dropdown" href="#admin">
                  <span class="sidebar-mini">МН</span>
                  <span class="sidebar-normal">Мои настройки</span>
                </a>
              </li>
            </slot>
          </ul>
        </el-collapse-transition>
      </div>
    </div>
  </div>
</template>
<script>
  import CollapseTransition from 'element-ui/lib/transitions/collapse-transition'

  export default {
    components: {
      [CollapseTransition.name]: CollapseTransition
    },
    props: {
      title: {
        type: String,
        default: 'Администратор'
      }
    },
    data () {
      return {
        isClosed: true
      }
    },
    methods: {
      toggleMenu () {
        this.isClosed = !this.isClosed
      }
    }
  }
</script>
<style>
  .collapsed {
    transition: opacity 1s;
  }
</style>
