<template>
    <router-view></router-view>
</template>

<script>
    //    import Controller from './components/Controller/Controller.vue'
    //    import DashboardLayout from './pages/Dashboard/Layout/DashboardLayout.vue'

    import {DatePicker, TimeSelect, Slider, Tag, Input, Button, Select, Option} from 'element-ui'
    import {
        Progress as LProgress,
        Switch as LSwitch,
        Radio as LRadio,
        Checkbox as LCheckbox,
        SidebarPlugin as SideBar,
        FormGroupInput as FgInput
    } from './components/index'

    export default {
        name: 'app',
        props: ['name'],
        data(){
//            console.log(this.name)
            return {
                arrData: [],

            }
        },
        components: {
//            Controller,

            DashboardLayout: () => import('./pages/Dashboard/Layout/DashboardLayout.vue'),
//            SideBar,
//            FgInput,
//            [DatePicker.name]: DatePicker,
//            [TimeSelect.name]: TimeSelect,
//            [Slider.name]: Slider,
//            [Tag.name]: Tag,
//            [Input.name]: Input,
//            [Button.name]: Button,
//            [Option.name]: Option,
//            [Select.name]: Select,
//            LSwitch,
//            LProgress,
//            LRadio,
//            LCheckbox
        },
    }
</script>

<style lang="scss">
    #app {
        text-align: center;
        margin-top: 60px;
    }
</style>
