<template lang="pug">
    span {{ name }}
</template>

<script>
    /* eslint-disable */
    export default {
        props: ['name'],
        data(){
            return {
            }
        },
    }
</script>

<style scoped lang="scss">
</style>
