<template>
    <footer class="footer">
        <div class="container-fluid d-flex flex-wrap justify-content-between">
            <nav>
                <ul class="footer-menu">
                    <li>
                        <router-link :to="{path:'/admin'}">Панель управления</router-link>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy; Coded with
                <i class="icon-heart-filled text-danger"></i> by
                <a href="https://bitbucket.org/Mavlin" target="_blank">Мавлин Дм.Вл.</a>
                <span> & </span>
                <a href="https://github.com/cristijora" target="_blank">Cristi Jora</a>.

                <!--Designed by <a href="https://www.creative-tim.com/?ref=pdf-vuejs" target="_blank" rel="noopener">Creative Tim</a>.-->
            </div>
        </div>
    </footer>
</template>
<script>
    export default {}

</script>
<style>

</style>
