<template>
    <div class="wrapper position-relative" :class="{'nav-open': $sidebar.showSidebar}">
        <!--<notifications></notifications>-->
        <side-bar>
            <user-menu></user-menu>
            <!--<mobile-menu></mobile-menu>-->
            <template slot-scope="props" slot="links">
                <sidebar-item :link="{name: 'Текущ. концентрация', icon: 'icon-droplet'}">
                    <sidebar-item :link="{name: 'Таблицы', path: '/admin/current-indication'}"></sidebar-item>
                    <sidebar-item :link="{name: 'Графики', path: '/admin/charts'}"></sidebar-item>
                </sidebar-item>
                <sidebar-item
                        :link="{name: 'Накопленные выбросы', icon: 'icon-water', path: '/admin/total-discharge'}">
                </sidebar-item>
                <!--<sidebar-item :link="{name: 'Компоненты', icon: 'nc-icon nc-app'}">-->
                    <!--<sidebar-item :link="{name: 'Buttons', path: '/components/buttons'}"></sidebar-item>-->
                    <!--<sidebar-item :link="{name: 'Grid System', path: '/components/grid-system'}"></sidebar-item>-->
                    <!--<sidebar-item :link="{name: 'Panels', path: '/components/panels'}"></sidebar-item>-->
                    <!--<sidebar-item :link="{name: 'Sweet Alert', path: '/components/sweet-alert'}"></sidebar-item>-->
                    <!--<sidebar-item :link="{name: 'Notifications', path: '/components/notifications'}"></sidebar-item>-->
                    <!--<sidebar-item :link="{name: 'Icons', path: '/components/icons'}"></sidebar-item>-->
                    <!--<sidebar-item :link="{name: 'Typography', path: '/components/typography'}"></sidebar-item>-->
                <!--</sidebar-item>-->
            </template>
        </side-bar>
        <div class="main-panel outline-crimson position-static">
            <top-navbar></top-navbar>
            <dashboard-content @click.native="toggleSidebar">

            </dashboard-content>

            <content-footer></content-footer>
        </div>
    </div>
</template>
<script>
    import TopNavbar from './TopNavbar.vue'
    import ContentFooter from './ContentFooter.vue'
    import DashboardContent from './Content.vue'
    //  import MobileMenu from './Extra/MobileMenu.vue'
    import UserMenu from './Extra/UserMenu.vue'
//    import throttle from '../../../components/My/js/throttle'
    export default {
        components: {
            TopNavbar,
            ContentFooter,
            DashboardContent,
//      MobileMenu,
            UserMenu
        },
        methods: {
            toggleSidebar () {
                if (this.$sidebar.showSidebar) {
                    this.$sidebar.displaySidebar(false)
                }
            }
        }
    }

</script>
