@import '../variables';

.case {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  //height: 100%;
  z-index: 1;
  //display: none;
  display: flex;
  &.active {

  }
}

.pop {
  color: $color-text;
  //background-color: #beeded;
  background-color: #bbc9d8;
  font-family: $prime-font;
  cursor: default;
  border: 1px solid $color-text;
  width: 500px;
  box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.75);
  //border-color: $color-text;
}

.dialog {
  display: none;
  z-index: 3;
  box-sizing: border-box;
  position: absolute;
  //top: -50%;
  padding: 30px;
  //visibility: hidden;
  //opacity: 0;
  transform: scale(0);
  transition: transform 250ms cubic-bezier(0.77, 0, 0.175, 1);
  //transition: transform 150ms ease-in;
  &.active {
    //top: -15%;
    transform: scale(1);
    //visibility: visible;
    //opacity: 1;
    transition: transform 250ms cubic-bezier(0.77, 0, 0.175, 1);
    //transition: transform 150ms ease-out;
  }
  //left: 30%;
  //top: 30%;
  //right: 0;
  margin: auto;
  &.border {
    border: solid 2px black;
  }

}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  //transition: opacity 500ms;
  transition: all 200ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.overlay.active {
  transition: all 200ms;
  visibility: visible;
  opacity: 1;
}

.dialog__action {
  font-size: 2rem;
  line-height: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 15px 20px;
  transition: all 150ms ease;

  i {
    font-style: normal;
    display: inline-block;
    transition: all 500ms ease;
  }

  &:hover {
    background: #aaa;
    color: crimson;
    i {
      transform: rotate(270deg);
    }
  }

}