
.icon-home:before { content: '\e800'; } /* '' */
.icon-alert:before { content: '\e801'; } /* '' */
.icon-water:before { content: '\e802'; } /* '' */
.icon-droplet:before { content: '\e803'; } /* '' */
.icon-heart-filled:before { content: '\e805'; } /* '' */
.icon-arrows-cw:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */