div(@click="runQuery")
    .row.justify-content-md-center.mb-4
        .col-md-auto
            p.category.font-weight-bolder.f-size-2 Что показать?
            .row.align-middle.align-items-center.outline-crimson.justify-content-center
                .col.d-inline-flex.outline-green.flex-wrap1
                    label.pr-2.m-0.text-nowrap накопленные выбросы:
                    //l-switch(v-model="inSwitches.total", @input="setTotalDischarge").m-0
                    l-switch(:value="getTotal", @input="setTotal").m-0
                    //l-switch(:value="this.$store.state.switchTotal2").m-0
                    //l-switch(v-model="getTotal2").m-0
                        //i.fa.fa-check(slot="on") +
                        //i.fa.fa-times(slot="off") -
                        v-model="datePicker"
                .col.d-inline-flex.p-0.justify-content-center
                    span.text-nowrap.d-inline-flex.align-items-center.pr-3 с даты:
                    fg-input.d-inline.m-0.mt-2.mb-2
                        el-date-picker(
                        :value="getPicker",
                        @input="setPicker",
                        type="date", placeholder="Выберите дату, пож-та", :picker-options="pickerOptions1" style="min-width: 150px", :disabled="!getTotal")
                .col-sm-12.col-md-auto
                    l-button(wide type="primary", data-query="reload", :loading="buttonOptions.loading").m-0.align-self-center.mt-2.mb-2.w-100.f-size-1 Reload
    Controller(:arrData="arrData", :showTotal="getTotal", :dataToPop="dataToPop", @click="clickInCntrl", :setsCell="setsController", :name='name', :loaderState="loaderState")
    


