<template lang="pug">
    include Overview.pug
</template>
<script>
    import {DatePicker} from 'element-ui'
    import {Switch as LSwitch,} from 'src/components/index'
    import Controller from '../../../components/My/Controller/Controller.vue'
    import axios from 'axios'
    import * as Moment from 'moment';
    Moment.locale('ru-RU');

    export default {
        components: {
            Controller,
            [DatePicker.name]: DatePicker,
            LSwitch,
            Loader: () => import('./Loader'),
        },
        data () {
            return {
                dataToPop: {},
                setsController: {
                    even: '#edc37e',
//                    even: '#beeded',
                    odd: '#9cc3ed',
                },
                arrData: [],
                name: 'Current',
                pickerOptions1: {
                    shortcuts: [{
                        text: 'Сегодня',
                        onClick (picker) {
                            picker.$emit('pick', new Date())
                        }
                    },
                        {
                            text: 'Вчера',
                            onClick (picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24);
                                picker.$emit('pick', date)
                            }
                        },
                        {
                            text: 'Неделю назад',
                            onClick (picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', date)
                            }
                        }]
                },
                buttonOptions: {
                    disabled: true,
                    loading: false,
                },
                loaderState: false,
            }
        },
        methods: {
            clickInCntrl(e){
//                console.log(e)
                let data = {
                    total: this.getTotal,
                    date: Moment(this.getPicker).format('YYYY-MM-DD')
                };
                e.runQuery(data) // run query in Cell
            },
            runQuery(e){
                if (e.target.closest("[data-query=reload]")) { // query to all data
                    this.buttonOptions.loading = true;
                    this.loaderState = true;
                    if (this.getTotal) {
                        this.getAllDataTotal(Moment(this.getPicker).format('YYYY-MM-DD'))
                    } else {
                        this.getAllData()
                    }
                }
            },
            setTotal(){
                this.$store.dispatch('SET_TOTAL', !this.$store.state.switchTotal);
                this.pickerOptions1.disabled = !this.pickerOptions1.disabled
            },
            getAllData(){
//                console.log('getAllData')
                axios({
                    method: 'get',
                    url: 'init.php',
                    params: {
                        select: 'WorkLog',
                        mode: 'getAllData',
                        data: {}
                    },
                    responseType: 'json',
                })
                    .then(
                        response => {
//                            console.log(response)
//                            console.log(response.data.data)
                            this.arrData = response.data.data;
                            this.buttonOptions.loading = false
                        }
                    )
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            getAllDataTotal(arg=Date.now()){
                axios({
                    method: 'get',
                    url: 'init.php',
                    params: {
                        select: 'WorkLog',
                        mode: 'getAllDataTotal',
                        data: {
                            date: arg
                        }
                    },
                    responseType: 'json',
                })
                    .then(
                        response => {
                            this.arrData = response.data.data;
//                            console.log(response.data.data)
                            this.showTotal = true;
                            this.loaderState = false;
                            this.buttonOptions.loading = false
                        }
                    )
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            setPicker(a){
                this.$store.dispatch('SET_PICKER', a)
            },
        },
        beforeMount(){
            this.loaderState = true;
            if (this.$store.state.switchTotal) {
                this.getAllDataTotal(Moment(this.getPicker).format('YYYY-MM-DD'))
            } else {
                this.getAllData()
            }
        },
        computed: {
            getTotal(){
                return this.$store.state.switchTotal
            },
            getPicker(){
                return this.$store.state.datePicker
            },
//            listeners () {
//                return {
////                     Pass all component listeners directly to element
//                    ...this.$listeners
//                }
//            }
        },
//        watch: {
//            switches(){
//                console.log(this.switches.withIconsOn)
//            }
//        }
    }
</script>
<style>

</style>
