<template lang="pug">
    include Total.pug
</template>
<script>
    import {Select, Option} from 'element-ui'

    import * as Tools from '../../../components/My/js/Tools.js';
    import Controller from '../../../components/My/Controller/Controller.vue'
    import axios from 'axios'
    import * as Moment from 'moment';
    Moment.locale('ru-RU');

    export default {
        components: {
            Controller,
            [Select.name]: Select,
            [Option.name]: Option,
        },
        data () {
            return {
                selects: {
                    simple: '',
                    periods: [
                        {value: 1, label: 'год'},
                        {value: 2, label: 'квартал'},
                        {value: 3, label: 'месяц'},
                        {value: 4, label: 'неделю'},
                        {value: 5, label: 'день'},
                        {value: 6, label: 'час'},
                    ],
//                    value: this.$store.state.period,
//                    value: 3,
                },
                name: 'Total',
                dataToPop: {
                    trigger: 0,
                    total: 0,
                    date: '',
                },
                setsController: {
//                    even: '#edc37e',
                    even: '#beeded',
                    odd: '#9cc3ed',
                },
                arrData: [],
                duration: '',
                buttonOptions: {
                    disabled: true,
                    loading: false,
                },
//                showTotal: false,
                loaderState: false,
            }
        },
        methods: {
            clickInCntrl(e){
//                console.log(e)
                let data = {
                    date: this.getPeriod()
                };
                e.runQuery(data) // run query in Cell
            },
            runQuery(e){
                if (e.target.closest("[data-query=reload]")) { // query to all data
                    this.buttonOptions.loading = true;
                    this.getAllData()
                }
            },
            getAllData(){
//                console.log('getAllData')
                axios({
                    method: 'get',
                    url: 'init.php',
                    params: {
                        select: 'WorkLog',
                        mode: 'getAllDataInPeriod',
                        data: {
                            date: this.getPeriod(),
                            duration: this.duration
                        }
                    },
                    responseType: 'json',
                })
                    .then(
                        response => {
//                            console.log(response.data.data)
                            this.arrData = response.data.data;
                            this.buttonOptions.loading = false
//                            this.loaderState = false
                        }
                    )
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            getPeriod(){
                let result = '';
                switch (this.$store.state.period) {
                    case 1: // year
                        result = Moment().startOf('year').format('YYYY-MM-DD');
                        break;
                    case 2: // quarter
                        result = Moment().startOf('quarter').format('YYYY-MM-DD');
                        break;
                    case 3: // month
                        result = Moment().startOf('month').format('YYYY-MM-DD');
                        break;
                    case 4: // week
                        result = Moment().startOf('week').format('YYYY-MM-DD');
                        break;
                    case 5: // day
                        result = Moment().startOf('day').format('YYYY-MM-DD');
                        break;
                    case 6: // hour
                        result = Moment().startOf('hour').format('YYYY-MM-DD HH:mm');
                        break
                }
                return result
            },
            setPeriod(val){
//                console.log('dispatch')
//                console.log(v)
//                console.log(this.$store.state.period)
//                console.log(this.selects.value)
                this.$store.dispatch('SET_PERIOD', val)
//                console.log(this.$store.state.period)
//                console.log(this.selects.value)
            },
        },
        beforeMount(){
//            console.log('mount')
//            this.loaderState = true
            let y = new Moment(this.getPeriod()),
                x = new Moment();
                this.duration = Moment.duration(x.diff(y)).asDays();
            this.getAllData()
        },
        computed: {
            getPeriodSt(){
                return this.$store.state.period
            },
//            listeners () {
//                return {
//                     Pass all component listeners directly to element
//                    ...this.$listeners
//                }
//            }
        },
//        watch: {
//            switches(){
////                console.log(this.switches.withIconsOn)
//            }
//        }
    }
</script>
<style>

</style>
