div(@click="runQuery")
    .row.justify-content-md-center.mb-4
        .col-md-auto
            p.category.font-weight-bolder.f-size-2 За какой текущий период показать выбросы?
            .row.align-items-center
                .col
                    //el-select.select-danger(size="large", placeholder="определите период", v-model="selects.value")
                    el-select.select-primary(size="large", placeholder="определите период", :value="getPeriodSt", @input="setPeriod")
                        el-option(v-for="option in selects.periods", class="select-primary",
                        :value="option.value", :label="option.label", :key="option.label")
                .col
                    l-button(wide type="primary", data-query="reload", :loading="buttonOptions.loading").m-0.align-self-center.mt-2.mb-2.w-100.f-size-1 Reload
    Controller(:arrData="arrData", :dataToPop="dataToPop", @click="clickInCntrl", :setsCell="setsController", :name="name", :duration="duration", :loaderState="loaderState")
